<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>

<body>
  <h2>Thank you for subscribing to our mailing list!</h2>
  <p>
    Please click <a href="{{ confirmationURL }}">here</a> to confirm your email address.
  </p>
  <img style="width:100%" src="https://i.pinimg.com/originals/1f/bf/0f/1fbf0f3ce861b0a0009f1fc322b7674e.jpg">
  <p>
    If you do not wish to receive such emails in the future, please <a href="{{ unsubscribeURL }}">unsubscribe</a>.
  </p>
</body>

</html>