@font-face {
  font-family: 'NexaLight';
  src: url('./assets/fonts/Nexa Light.otf');
}

@font-face {
  font-family: 'NexaBold';
  src: url('./assets/fonts/Nexa Bold.otf');
}

.App {
  text-align: center;
}

:root {
  /* variables */
  --submit: #85632C;
  --mailing-list: #6B4303;
  --Background : #043563;

  --Background-rocks-dark : #46729C;
  --Background-rocks-medium : #5881A8;
  --Background-rocks-light : #6D92B5;

  --Left-Rollercoaster-dark : #1F5282;
  --Left-Rollercoaster-light : #25598A;

  --Right-Rollercoaster : #184B7A;

  --Darkest-Background-Plants : #1C6466;
  --Medium-Background-Plants : #218558;
  --Light-Background-Plants : #7EBA5B;

  --Ferris-Wheel-orange : #F29252;

  --Light-yellow-ticket-background-plant : #FFCC7A;
  --Medium-yellow-shadow-on-plant : #FAB664;
  --Dark-yellow-submit-button : #D9AB62;

  --Lighter-pink : #C9598B;
  --Darker-pink : #B84679;

  --Brown-ground : #917060;
  --Brown-shadow-on-ground : #785543;

}
body {
  background-color: var(--Background);
  overflow-x: hidden;
	font-family: 'NexaBold';
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  padding: 1rem 2rem;
  height: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 768px) {
  div.content {
    margin-left: 0;
    padding-bottom: 4rem; /* height of sidebar */
  }
}
