:root {
  /* variables */
  --Background : #043563;

  --Background-rocks-dark : #46729C;
  --Background-rocks-medium : #5881A8;
  --Background-rocks-light : #6D92B5;

  --Left-Rollercoaster-dark : #1F5282;
  --Left-Rollercoaster-light : #25598A;

  --Right-Rollercoaster : #184B7A;

  --Darkest-Background-Plants : #1C6466;
  --Medium-Background-Plants : #218558;
  --Light-Background-Plants : #7EBA5B;

  --Ferris-Wheel-orange : #F29252;

  --Light-yellow-ticket-background-plant : #FFCC7A;
  --Medium-yellow-shadow-on-plant : #FAB664;
  --Dark-yellow-submit-button : #D9AB62;

  --Lighter-pink : #C9598B;
  --Darker-pink : #B84679;

  --Brown-ground : #917060;
  --Brown-shadow-on-ground : #785543;

}
body {
  background-color: var(--Background);
  overflow-x: hidden;
}
