#hackerApp {
    input {
    //     width: 62%;
    //     margin: auto;
        display: block;
    }
    // textarea {
    //     width: 62%;
    //     margin: auto;
    // }
    h1{
        // font-size: 36px;
        // color: #2FA0DF;
    }
    h2 {
        margin-left: 15%;
        text-align: left;
        font-size: 24px;
        color: #6F86AA;
        font-weight: 300;
        font-family: "NexaLight";
    }
}

.resumeSavedContainer {
    display: flex;
    justify-content: flex-end;
}
.resumeSavedContainer .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px !important;
    width: fit-content !important;
    color: rgb(1, 133, 23);
    font-weight: 400;
}
.resumeSavedContainer .text #checkmark {
    height: 12px;
    margin-left: 2px;
}