.appnavbar{
    font-size: 2vh;
    color: white;
    width: 100vw;
    padding: none;
    height: 5vh;
    background-color: #5FC5FF;
    position:absolute;
    left:0px;
    top:0px;
    z-index: 1;
  }
  
  .left{
    float: left;
  }
  .right{
    float: right;
    margin-right: 7vw;
    margin-top: .9vw;
  }
  .right:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .navLogo{
    height: 3vh;
    width: 3vh;
    margin-left: 4vw;
    margin-top: .6vw;
  }
  