#faq {
    width: 100%;
}
#faq .title {
    color: #fab664;
    font-size: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
#faq .title .questionMark {
    height: 75px;
}

#faq .mainContent {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 90vw;
    margin: auto;
}
#faq .mainContent #otterBooth {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin-top: 20%;
    width: 80%;
} 
#faq .mainContent .questions {
    justify-self: center;
    width: 20vw;
}

.sign {
    position: relative;
}
.sign:hover {
    cursor: pointer;
}
.signImg {
    width: 100%;
}
.sign .arrowImg {
    position: absolute;
    right: 1vw;
    top: calc(50% - 1vw);
    width: 2vw;
}
.sign .textContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign .text {
    font-size: 0.8vw;
    width: 14vw;
    text-align: center;
    top: calc(50% - 0.4vw);
}
.ansText {
    color: white;
    width: 80%;
    text-align: left;
}