.mailingListContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}
#carnival {
    width: 1100px;
}

.fish-ticket {
    display: grid;
    width: fit-content;
    grid-template-columns: 400px;
    grid-template-rows: 37% 20% 43%;
		position: absolute;
		right: 20vw;
}
@media (max-width: 1504px) {
    .fish-ticket {
        grid-template-columns: 350px;
    }
    #carnival {
        width: 962.5px;
    }
}
@media (max-width: 1330px) {
    .fish-ticket {
        grid-template-columns: 300px;
				right: 150px;
    }
    #carnival {
        width: 825px;
    }
}
@media (max-width: 768px) {
    .fish-ticket {
        grid-template-columns: 60vw;
				right: auto;
				position: static;
    }
    #carnival {
        width: 90vw;
    }
}
#ticketImg {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
}

#form {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.fish-ticket .MuiFormControl-root {
    width: 54%;
}
.fish-ticket .MuiFormLabel-root.Mui-focused {
    color: var(--submit);    
}
.fish-ticket .MuiInputLabel-formControl {
    color: var(--submit);
}
.fish-ticket .MuiInput-underline:after {
    border-bottom: 2px solid var(--submit) !important;
}
.fish-ticket .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid var(--submit) !important;
}
.fish-ticket .MuiInputBase-input {
    color: var(--submit);
}
#email {
    outline: none;
    text-decoration: none !important;
}
.textContainer {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    color: var(--mailing-list);
    text-align: center;
    font-size: 0.7em;
    width: 50%;
}
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
    grid-column: 1/2;
}
.submitBtn {
    background-image: url('../assets/fish_submit.svg');
    width: 20%;
}
.submitFishContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-column: 1/2;
    grid-row: 3/4;
}
.submitFishButton {
    position: relative;
}
#submitTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    font-size: .7em;
    color: var(--submit);
    transition: 0.3s;
    /* background-image: url('../assets/fish_submit.png'); */
}
@media (min-width: 1720px) {
    .text {
        font-size: .7em;
    }
    #submitTxt {
        font-size: .7em;
    }
}
#submitFish {
    width: 30%;
    transition: 0.3s;
    vertical-align: middle;
    /* margin: auto; */
    /* z-index: 100; */
} 
#submitFish:hover {
    cursor: pointer;
    /* filter: brightness(0.8); */
    transform: scale(1.1);
}
#submitTxt:hover {
    cursor: pointer;
}
/* #submitBtn {
    width: 30%;
    margin-top: 2%;
}
#submitBtn:hover{
    cursor: pointer;
    filter:brightness(0.8);
} */
