.mobNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-image: url('../assets/navLinks.svg');/*url("../webAssets/Asset 45.svg");*/
    background-size: cover;
    background-position: right;
    display: none;
    margin: 0;
  /*  box-shadow: 0px 15px 12px rgba(0, 0, 0, .2);
  */}
  
  #navLinks {
    display: none;
    width: 100vw;
    top: 60px;
    position: relative;
   
    a {
      color: #7498bc;
      width: 100vw;
      height: 10vw;
      text-decoration: none;
      font-size: 5vw;
      display: block;
      background-image: url('../assets/navLinks.svg'); /*url("../webAssets/Asset 45.svg");*/
      background-size: cover;
      background-position: right;
  /*    border-bottom: solid 1px $fontColor;
  *//*    background-color: transparent;
  */    position: relative;
      padding-top: 20px;
      opacity: .85;
      &:hover {
  /*      background-color: rgba(255, 255, 255, .05);
  */      color: #33ccff;
      }
    }
  }
  
.mobNavBar a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    margin: 10px;
}

.mobNavBar, #navLinks, #navLinks a, .mobNavBar a.icon {
    z-index: 300;
}

#navBar, #navBar ul, #navBar ul li, #navBar ul li a {
    z-index: 300;
}
  
#navBar {
    background-image: url('../assets/navBar.svg'); /*url("../webAssets/Asset 16.svg");*/
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 60px;
    display: flex;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-right: 15px;
        top: 0;
        width: 100%;
        li {
            display: inline;
            float: right;
            a {
                display: block;
                text-align: center;
                padding: 20.5px 16px;
                color: #7498bc;
                text-decoration-line: none;
                &:hover {
                color: #43afed;
                background-color: rgba(255, 255, 255, .05);
                }
            }
        }    
    }
    .last {
        margin-right: 55px;
    }
}

.fa-bars {
    width: 35px;
    height: 8px;
    border-radius: 5px;
    background-color: rgb(116, 152, 188);
    margin-top: 4px;
    margin-bottom: 4px;
}
// .fa {
//     display: inline-block;
//     font: normal normal normal 14px/1 FontAwesome;
//     font-size: inherit;
//     text-rendering: auto;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
// .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
//     content: "\f0c9";
// }

@media screen and (orientation: portrait) and (max-width: 550px) {
    .mobNavBar {
      display: initial;
    }
  
    #navBar {
      display: none;
    }
}